h1{
  float:left;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 5px;
  font : 24px Caecilia lt bold; color:#0297C9;
  padding: 5px 5px 5px 5px;
  display: inline-block;
}

h2{
  margin-bottom: 2px;
  padding-bottom: 5px;
  font : 16px Caecilia lt; color:#7A7A7A;
  padding: 5px 10px 10px 0px;
  display: inline-block;

}

h3 {
    -webkit-margin-after: 0.2em;
}





div.tooltip {
      position:absolute;
      width: auto;
      height: auto;
      max-width: 250px;
      padding: 10px;
      background-color: white;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      pointer-events: none;
      opacity: 0.90;
      filter:alpha(opacity=90);
      -moz-opacity:0.90;
}

#world {
  /**stroke: #deeaf1;**/
  stroke-width: 0px;
 fill: #deeaf1;
  opacity: 1;
}

#genderBudgetingMap{

  background-image:linear-gradient(rgba(221,233,239,.3), rgba(248,250,252,.1));
}


#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.caption{
  font : 12px Arial; color:#575757;
}
.background {
  fill: #deeaf1;
  pointer-events: all;
}


.annotation path {
  fill: none;
  stroke: #F58380;
  stroke-width: 1
}

/**.annotation-note text {
  fill: #979797;
  font : 12px Caecilia lt bold; color:#575757;
}**/

.annotation tspan {
  font-family: "Arial";
  font-size: 12px;
    line-height: 1.1;
    color: #575757;
}

.annotation-note-title text{
  fill: #575757;
  font : 14px Caecilia lt bold; color:#575757;
  font-style:bold;
  font-size: 11px;
}

.annotation-note-bg {
  fill: none;
  fill-opacity: 0.9;
  filter: url(#blur-effect);
}

.annotation-tip .annotation path {
  stroke: white;
}
.annotation-tip .annotation text {
 fill: white;
}
.handle{
  display:none;
}

annotation.badge path.subject-pointer, .annotation.badge path.subject {
      fill: var(--accent-color);
      stroke-width: 3px;
      stroke-linecap: round;
    } 

    .annotation.badge path.subject-ring {
      fill: white;
      stroke-width: 3px;
    }

    .annotation.badge .badge-text {
      fill: white;
      font-size: .7em;
      max-width: 100px;
    }
        
    rect.annotation-note-bg {
      fill: rgba(255, 255, 255, 0);
    }
    .hover{
      max-width: 200px;
    }

    text.hover {
      font-size: .7em;
      font-color: #575757;
      font : 14px Caecilia lt bold; fill:#575757;
    }
